*{
 padding:0;
 margin:0;
 box-sizing: border-box;   
}

body{
    background:black;
}

.header-section img{
    width: 30%;
}

.blocco-film,
.blocco-serie{
    flex-wrap: wrap;
    justify-content: center;
}

#my_input,
#my_search{
    height: 30px;
    margin-top:15px;
}

.film{
    width: calc(100% / 5 );
    border: 1px solid;
    text-align: center;
    margin: 10px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}

.film img.poster{
    width: 250px;
    height: 350px;
    align-self: center;
}

.titolo{
    color:white;
    font-size: 20px;
}

.originalTitle,
.lingua,
.voto{
    color:grey;
}